
<div class="hidden dark:block fixed left-0 top-0 -z-10 h-full w-full">
  <div class="fixed left-0 top-0 -z-10 h-full w-full">
    <div
      class="absolute top-0 z-[-2] h-screen w-screen bg-[#000000] bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] bg-[size:20px_20px]"
    >
    </div>
  </div><div class="relative h-full w-full bg-slate-950">
    <div
      class="absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]"
    >
    </div>
  </div>
</div>

<div class="block dark:hidden fixed left-0 top-0 -z-10 h-full w-full">
  <div class="fixed left-0 top-0 -z-10 h-full w-full">
    <div
      class="absolute top-0 z-[-2] h-screen w-screen bg-[#000000] bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] bg-[size:20px_20px]"
    >
    </div>
  </div><div
    class="absolute inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]"
  >
    <div
      class="absolute left-0 right-0 top-0 -z-10 m-auto h-[310px] w-[310px] rounded-full bg-fuchsia-400 opacity-20 blur-[100px]"
    >
    </div>
  </div>
</div>
