---
import { NAME } from "../constants/commons";


---

<nav class="layout-padding flex justify-between py-4 text-black dark:text-white">
  <div class="text-2xl flex items-center"><span class="text-4xl icon-[material-symbols-light--filter-b-and-w]" role="img" aria-hidden="true" />{NAME}</div>
  <div>
    <button
      type="button"
      id="dark"
      onclick="document.dispatchEvent(new CustomEvent('set-theme', { detail: 'light' }))"
    >
    <span class="text-3xl icon-[material-symbols--light-mode-rounded] transition-all" role="img" aria-hidden="true" />
    </button>
    <button
      type="button"
      id="light"
      onclick="document.dispatchEvent(new CustomEvent('set-theme', { detail: 'dark' }))"
    >
    <span class="text-3xl icon-[ri--moon-clear-fill] transition-all" role="img" aria-hidden="true" />
    </button>
  </div>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const theme =
      document.documentElement.attributes.getNamedItem("data-theme")?.value;
    const darkButton = document.getElementById("dark");
    const lightButton = document.getElementById("light");
    if (theme == "dark") {
      darkButton?.classList.add("block");
      lightButton?.classList.add("hidden");
    } else {
      lightButton?.classList.add("block");
      darkButton?.classList.add("hidden");
    }
  });

  document.addEventListener("set-theme", (event) => {
    const newTheme = event.detail;
    const darkButton = document.getElementById("dark");
    const lightButton = document.getElementById("light");
    if (newTheme === "dark") {
      darkButton?.classList.add("block");
      darkButton?.classList.remove("hidden");
      lightButton?.classList.remove("block");
      lightButton?.classList.add("hidden");
    } else {
      lightButton?.classList.add("block");
      lightButton?.classList.remove("hidden");
      darkButton?.classList.remove("block");
      darkButton?.classList.add("hidden");
    }
  });
</script>
